# CENG414 Assignment 2

### Due: May 7, Sunday-23.59

### Submission and Grading Policy

- Submit your assignments to the corresponding assignment link in ODTUClass.
- Do not change variable names in the code blocks and the texts in the markdowns.
- **<font color=#C91414>This is an individual assignment. Please do not collaborate. You have to adhere to the academic integrity principles.</font>** 

------------

### The aim of this assignment is getting you familiar with
- Python and Jupyter notebook
- basic data transformations

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

**1. Upload the data as a pandas dataframe and show the first three rows.**

In [2]:
df = pd.read_csv(r'/Users/deryatinmaz/Desktop/german_credit_risk.csv')
df.head(3)

,index,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good

**2. How many features and observations are there in the data set (rows x columns)?**

In [3]:
df.shape  #(1000,11) -> there are 11 features(columns) and 1000 observations(rows) in the dataset

(1000, 11)

Notice that some data points are missing. For example, see the value of the "Saving accounts" by typing **print(df.iloc[0])**    
**3. Find and print the number of missing values in each column**

In [4]:
print(df.iloc[0])
print(df.isna().sum())
# There are 183 missing values in Saving accounts column and 394 missing values in checking account column 
# Other columns do not have any missing values

index                      0
Age                       67
Sex                     male
Job                        2
Housing                  own
Saving accounts          NaN
Checking account      little
Credit amount           1169
Duration                   6
Purpose             radio/TV
Risk                    good
Name: 0, dtype: object
index                 0
Age                   0
Sex                   0
Job                   0
Housing               0
Saving accounts     183
Checking account    394
Credit amount         0
Duration              0
Purpose               0
Risk                  0
dtype: int64

**4. Drop the columns which have more than %20 missing value rate.**

In [5]:
percentages = df.isna().sum()/ (df.shape[0])
columns_to_drop = percentages[percentages>0.20].keys() # only ['Checking account'] with %39.4
df = df.drop(columns_to_drop, axis=1)

**5. Create a dataframe named credit_wo_na by dropping the rows which have missing values.  
What is the shape (rows x columns) of newly created data frame "credit_wo_na"?**   
Please do the rest of the assignment with data_wo_na.

In [6]:
credit_wo_na = df.dropna() #183 rows are dropped
credit_wo_na.shape # it is (817, 10), there are 817 observations(rows) and 10 features (columns) left

(817, 10)

**6. Create a csv file named "credit_wo_na.csv" using the newly created data frame "credit_wo_na"?**   
Please do the rest of the assignment with credit_wo_na.

In [7]:
filepath = Path('/Users/deryatinmaz/Desktop/credit_wo_na.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
credit_wo_na.to_csv(filepath,  index=False)